.d-none {
    display: none;
}

.selected {
    display: block !important;
    padding:15px;
    background-color: rgb(220, 220, 220);
    margin: 0;
}

.w-100 {
    width: 100%;
}

.text-start{
    text-align: start;
}