#root {
  margin: 0;
  padding: 0 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list-group {
  margin: 0;
  padding: 0;
  width: 250px;
  list-style-type: none !important;
}

.list-item {
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
}

.highlight {
  background-color: blue;
  color: white;
}

.btn-primary {
  background-color: blue;
}

.btn-secondary {
  background-color: gray;
}

.btn-success {
  background-color: green;
}

.btn-danger {
  background-color: red;
}

.btn-warning {
  background-color: gold;
  color: black;
}

.btn-info {
  background-color: skyblue;
  color: black;
}

.btn-light {
  background-color: whitesmoke;
  color: black;
}

.btn-dark {
  background-color: black;
}

.btn-link {
  background-color: transparent;
  color: blue;
  text-decoration: underline;
}